/*  common settings
 *  - for very basic settings
 *  - and for styles with no extra file available
 *  - at best, this file is nearly empty :)
 */

// Extra large devices (large desktops)
// set the defaults for all responsive levels here
// no (xl) media query necessary (desktop first)

  // fix: fade to white  is not working on transparent background
  .mir-abstract-overlay-tran {
    background: transparent;
  }

  // fix outdated bs3 myclabs confirm modal
  .modal-header {
    .modal-title {
      order: 1;
    }
    .close{
      order: 2;
    }
  }
  // fix viewer menu background
  .mycoreViewer .bg-light {
    background-color: $secondary !important;
  }
  // fix buttons in editor
  .info-button {
    color: white !important;
    background-color: $projectReducedT;
    border: 1px solid $projectReducedT;
    font-size: 12px;
    padding: 7px 13px;
  }

  // reduce margins of the info box on the publish page
  #publish-import-popover-content-list {
    padding-left: 1rem;
    margin-bottom: 0;
  }

  // collapse lib
  .collapsed-items {
    &__toggle {
      cursor: pointer;
      margin: 2rem 0 2rem 0;
    }
    &__title {
      display: flex;
      &::before {
        content: "\f139"; // up
        font-family: "Font Awesome 6 Free";
        font-weight: 900;
        margin-right: 1rem;
      }
    }
    .collapsed {
      .collapsed-items__title::before {
        content: "\f13a"; // down
      }
    }
    .collapsed-items__item {
      margin: 0 2.5rem 3rem 2.5rem;
    }
  }

  // Resize the popover info box on the publish page,
  // because otherwise the content fit not very well
  .publish-import-popover-box .popover {
    max-width: 460px;
  }

  // change background color of workflow box
  .workflow-box {
    background-color: #cbeef1;
  }

    /* ********************* cookie-bar ********************* */
  #cookie-bar {background:#111111; height:auto; line-height:24px; color:#eeeeee; text-align:center; padding:20px 0;}
  #cookie-bar.fixed {position:fixed; bottom:0; left:0; width:100%;}
  #cookie-bar.fixed.bottom {bottom:0; top:auto;}
  #cookie-bar p {margin:0px 0px; padding:0;}
  #cookie-bar a {color:#ffffff; display:inline-block; border-radius:3px; text-decoration:none; padding:0 6px; margin-left:8px;}
  #cookie-bar .cb-enable {background:#007700;}
  #cookie-bar .cb-enable:hover {background:#009900;}
  #cookie-bar .cb-disable {background:#990000;}
  #cookie-bar .cb-disable:hover {background:#bb0000;}
  #cookie-bar .cb-policy {background:#0033bb;}
  #cookie-bar .cb-policy:hover {background:#0055dd;}

// Large devices (desktops) and below: <= 1200px
@include media-breakpoint-down(lg) {
  // add/overwrite styles for responsive level lg and lower
}

// Medium devices (tablets) and below: <= 992px
@include media-breakpoint-down(md) {
  // add/overwrite styles for responsive level md and lower
}

// Small devices (landscape phones) and below: <= 768px
@include media-breakpoint-down(sm) {
  // add/overwrite styles for responsive level sm and lower
}

// Extra small devices (portrait phones): <= 576px
@include media-breakpoint-down(xs) {
  // add/overwrite styles for responsive level xs
}
